*{
    box-sizing: border-box;

}

img{
    display: block;
    max-width: 100%;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3{
    font-family: 'Times New Roman', Times, serif;
}

.header{
    height: 60px;
}

.header__contenedor{
    display: flex;
    justify-content: space-between;
}

.header__titulo, .header__icono{
    margin: 5px;
    color:black;
}

.header__icono{
    display: block;
    height: 40px;
    width: 40px;
    background-color: orange;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.header__nav{
    position: absolute; /*Se ubica en cualquier lugar de la pantalla donde lo ubiquemos independientemente del contenedor, si es relativo se coloca en la posicion del contenedor*/
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.6s;
}

.header__menu{
    list-style: none;
    padding:0;
    margin: 0;
}

.header__menu__link{
    display: block;
    padding: 10px;
    background-color: orange;
    color: white;
    text-decoration: none;

}

.header__menu__link:hover{
    background-color: white;
    color: orange;
}

.mostrar{
    left: 0;
}

.baner{
    margin-top: -70px;/*¿para que sirve ponerlo en negativo?*/
    position: relative; 
    z-index: -100; /*¿para que sirve? Indica el orden del elemento, en este caso hacia atras*/
    margin-bottom: 20px;
}

.baner .baner__contenedor{
    position: absolute; /*A menos que le coloques una posicion negativa*/
    top: 50%;
    left: 50%;
    color: #ffffff;
    width: 100%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    
    
}

.baner .baner__contenedor h2{
    background-color: rgba(0, 0, 0,0.373);
    box-shadow: 0 2 10px rgba(0, 0, 0);
}

.baner .baner__contenedor p{
    background-color: rgba(0, 0, 0,0.273);
    box-shadow: 0 5 10px rgba(0, 0, 0);
}

.baner__contenedor__txt{
    display: none;
}

.main__contenedor__section__articulo{
    background-color:orange;
    color:white;
    padding: 30px;
    margin-bottom: 40px;
    
}

.footer{
    background-color: #8FAA4B;
    color:white;
    padding: 10px;
    text-align: center;

}

.footer .redes__redSocial{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    background-color:white;
    border-radius: 50%;
}


@media (min-width: 780px){

    .header__titulo{
        font-size: 40px;
    }

    .baner__contenedor__titulo{
        font-size: 30px;
    }

    .baner__contenedor__txt{
        font-size:20px;
        display: block;
    }

    .main__contenedor__section{
        display: flex;
        justify-content: space-between;
        margin-top: -40px;

    }

    .main__contenedor__section__articulo{
        width: 32%;
    }

    .main__section__articulo__titulo{
        font-size:30px;
        margin:5px;
    }

    .main__section__articulo__parrafo{
        width: 100%;
    }

}
